#container {
  width: 600px;
  border: 1px solid black;
  padding: 5px;
}
.title {
  background-color: green;
  color: white;
  text-align: center;
  margin: 0;
}
.separateur {
  border: 1px solid black;
  height: 10px;
  margin: 10px 0;
}
#tableau {
  width: 600px;
}
#tableau td,
th {
  border: 1px solid black;
  text-align: center;
}
#numeroCartLabel {
  margin-top: 10px;
  margin-bottom: 0px;
}
#numeroCartInput {
  margin-bottom: 2px;
}
button {
  width: 120px;
  margin-bottom: 5px;
}
#montant {
  font-weight: bold;
}
